doctype html
html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title pet
    script(src="javascripts/require.js" data-main="javascripts/main")
    style.
        #user_petslist
        {
            width: 1000px;
            margin: 0 auto;
        }
        .petitem_div
        {
            width: 25%;
            display: inline-block;
        }
        .item_info_div
        {
            width: 199px;
            background-color: #00000040;
            padding: 1px;
            text-align: center;
        }
body
    div(id="user_petslist")

    