doctype html
html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 登陆
    script(src="javascripts/require.js" data-main="javascripts/login")
    style.
        #login_div
        {
            width: 1000px;
            margin: 0 auto;
        }
        #login_div input
        {
            display: inherit;
            margin-top: 10px;
            margin-bottom: 10px;
        }
body
    form(id="login_form")
        div(id="login_div")
            input(type="text" placeholder="用户名" name="username")
            input(type="password" placeholder="密码" name="password")    
            button(type="button" id="login_btn") 登陆