doctype html
html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 用户中心
    script(src="javascripts/require.js" data-main="javascripts/user")
    script(src="javascripts/toolfun.js")
    link(rel="stylesheet", href="stylesheets/toolfun.css")
    style.
        #user_petslist
        {
            width: 1000px;
            margin: 0 auto;
        }
        .petitem_div
        {
            width: 25%;
            display: inline-block;
        }
body
    div.user_header
        p#user_name_p 
        p#user_pcoin_p
    div.modal_div#show_modal1
        div.modal_item_div
            p#givepcoin_p 恭喜你获得200金币
            button#okclose_btn 确认
    button.modal_button#signin_btn(data_div_id="show_modal1") 签到
    div(id="user_petslist")

    